
  body {
    background-image: url('background.png'); /* Путь к вашему фоновому изображению */
    background-size: cover; /* Изображение растягивается, чтобы покрыть весь доступный контент */
    background-position: center; /* Центрирует изображение в доступном пространстве */
    background-repeat: no-repeat; /* Убедитесь, что изображение не повторяется */
    background-attachment: none; /* Опция, чтобы фон оставался неподвижным при прокрутке */


}


.text-area, .pdf-button {
    border: 2px solid rgba(0, 0, 0, 0.2); /* Легкая полупрозрачная черная рамка */
    border-radius: 5px; /* Скругление углов */
}

.text-area {
    /* Остальные стили текстового поля */
	
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    font-size: 16px;
    resize: none;
    overflow-y: auto;
    background-color: transparent;
}

.text-area:hover {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 8px 18px rgba(0, 0, 0, 0.5);
}

.pdf-button {
    /* Остальные стили кнопки */
    display: block;
    margin: 20px auto;
    width: 521px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 2px 8px 18px rgba(0, 0, 0, 0.5);
}

.pdf-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Стили для бокового меню */
.sidebar {
    width: 250px; /* Ширина меню */
    position: fixed; /* Фиксированное позиционирование */
    top: 0; /* Расположение в верхней части экрана */
    left: 0px; /* Изначально скрыто за левым краем экрана */
    height: 100%; /* Высота до конца страницы */
    background: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
    transition: 0.5s; /* Плавное появление и скрытие */
    overflow-x: hidden; /* Скрыть горизонтальную прокрутку */
    padding-top: 20px; /* Отступ сверху */
	border radius:20px;
}

/* Стили для элементов меню */
.sidebar a {
    padding: 10px 15px; /* Отступы для элементов */
    text-decoration: none; /* Убрать подчеркивание текста */
    font-size: 25px; /* Размер шрифта */
    color: white; /* Цвет текста */
    display: block; /* Элементы отображаются как блоки */
    transition: 0.3s; /* Плавное изменение при наведении */
}

/* Изменение фона элементов меню при наведении */
.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Показать меню при наведении */
.sidebar:hover {
    left: 0; /* Переместить меню в область экрана */
}

